.DND {
    flex-direction: row;
    display: flex;
    height: 100vh;
  }
  
  .DND aside {
    border-right: 1px solid #eee;
    padding: 25px 15px;
    font-size: 14px;
    background: white;
    width: 40vh;
  }
  
  .DND aside > * {
    margin-bottom: 20px;
    cursor: grab;
  }
  
  .DND aside .description {
    margin-bottom: 20px;
  }
    
  .DND .flow {
    flex-grow: 1;
    height: 100%;
  }
  

 